{
  "plugins": [
  	"transform-class-properties",
  	"syntax-decorators",
  	"transform-decorators-legacy",
    "react-hot-loader/babel"
  ],
  "presets": [
    "latest", 
    ["es2015", {"modules": false}], 
    "react" 
  ],
  "env": {
  	"presets": [
  		"react-hmre"
  	]
  }
}