{
  "plugins": [
  	"transform-class-properties",
  	"syntax-decorators",
  	"transform-decorators-legacy"
  ],
  "presets": ["latest", "es2015", "react"],
  "env": {
  	"presets": [
  		"react-hmre"
  	]
  }
}